.skills {
  padding-top: 47px;
  padding-bottom: 94px;
  display: none;

  @include desktop {
    display: contents;
  }
}
.skills__list {
  display: flex;
}

.skills__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
    text-align: center;
  }
}

.skills__top-text {
  position: absolute;
  bottom: 0;

  font-family: "Roboto";
  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;

  color: white;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;

  padding-bottom: 24px;
  padding-top: 24px;
}
